@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ED242E;
    position: relative;
    height: 100px;
    overflow: hidden;
}

.ulclass{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding-left: 42px;
}

.ulclass li {
    margin: 0;
}

.ulclass li a{
    
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 50px;
}

.left {

    height: 116px;
    width: 100px;
    background-color: #001329;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
}

.right {

    height: 101px;
    width: 100px;
    background-color: #001329;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 0%;
}

.loader_img {
    height: 116px;
    width: 150px;
    background-color: #ED242E;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%); 
}

.fa {

    font-size: 20px;
    color: white;
}

.home {
     
    background-image: url(./images/banner.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 600px;
    width: 100%;
}

.h1 {
    color: white;
    font-size: 89px;
    font-family: 'Poppins', sans-serif;
    padding: 5% 0% 0% 5%;
}

.firstSpan {
    padding-top: 1%;
    color: white;
    font-size: 89px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding: 0% 0% 0% 5%;
}

.About{

    height: 100vh;
    width: 100%;
}

.about_co {

    height:600px;
    width: 80%;
    background-color: white;
    border-radius: 10%;
    position: absolute;
    top: 65%;
    left: 10%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    
}

.abt_more {
    display: block;
    position: absolute;
    top: 18%;
    left: 5%; 
}

.abt_more_h1 {

    color: #353d47;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    padding-top: 0%;
}

.underlinediv {

    height: 10px;
    width: 120px;
    background-color: #ED242E;
    border-radius: 20%;
}


.abt_more_p {
    color: #111111;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    width: 59%;
}

.abt_more_span {

    color: #111111;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
}

.abt_more_btn {
    height: 70px;
    width: 275px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254d;
    position: absolute;
    top: 260px;
    left: 1%;
    box-sizing: border-box;
}

.img_abt {

    height: 420px;
    width: 420px;
    position: absolute;
    top: 15%;
    left: 59%;
}

.About {
    display: flex;
    gap: 18%;
    height: 900px;
    width: 100%;
    position: relative;
}

.abt_img1 {

    height: 400px;
    width: 600px;
    padding-left: 0%;
    position: absolute;
    top: 49%;
    left: 10%;
}

.abt_content {

    height: 350px;
    width: 457px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 49%;
    left: 55%;
}

.abt_contenth1 {

   color: #353d47;
   font-size: 45px;
   font-family: 'Poppins', sans-serif;
   font-weight: 900;
   padding: 0px 50px 0px 0px;
}

.abt_contentp {

    color: #111111;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0px 10px 0px;
}

.abt_contentbtn {

    height: 60px;
    width: 275px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254d;
}


.Precautions {

    height: 100vh;
    width: 100%;
}


.formInputbutton{
    width: 80%;
    height: 10vh;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
}



.Getupdate {
    height: 60vh;
    width: 100%;
    text-align: center;
    background: url(./images/ever_bg.jpg);
    background-size: cover;
    padding: 50px 20px;
}

.Getupdateh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px;
}

.btnClas {
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    line-height: 82px;
    height: 82px;
    max-width: 402px;
    width: 100%;
    display: block;
    border: inherit;
    background: #0a264a;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}



.formInputbutton {
    padding: 0px 25px;
}


.contact {
    height: 100vh;
    width: 100%;
}

.contactitemsmaindiv {
    display: flex;
    justify-content: space-between; 
    flex-wrap: nowrap; 
    gap: 10px;
    height: 316px;
    padding-top: 80px;
    background: #111;
    text-align: center;
}

.ContactItems {
    width: 25%; 
    height: 100px; 
}

.lastMapImg {

    height: 178px;
    width: 341px;
}

.ContactItemsRcSh2 {

    color: #ffffff;
    font-size: 20px;
    padding: 0px 0px 20px;
    font-family: 'Poppins', sans-serif;
}

.ContactItemsRcSli {

    color: #979793;
    font-size: 17px;
    line-height: 18px;
    padding-bottom: 10px;
    display: block;
    font-family: 'Poppins', sans-serif;
}

.ContactItemsp {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 15px;
}

hr {
    border: 2px solid #ffffff;
    width: 50%;
    margin: 20px auto;
} */
/* MEDIA QUERY STARTS FORM STARTS FROM HERE  */
/* 

@media (min-width: 1024px) and (max-width: 1440px) {
    
.nav {
    
    height: 80px;
}


.ulclass{

    gap: 11%;
    padding-left: 42px;
}

.loader_img {
    height: 94px;
    width: 120px;
    top: 8%;
}


.left {

    height: 81px;
    width: 100px;
   
}

.right {

    height: 81px;
    width: 100px;

}


.underlinediv {
    
    height: 10px;
    width: 78px;
    background-color: #ED242E;
    border-radius: 20px;
}

.h1 {
    
    font-size: 79px;
    font-family: 'Poppins', sans-serif;
    padding: 5% 0% 0% 5%;
}

.firstSpan {
    padding-top: 1%;
    color: white;
    font-size: 79px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding: 0% 0% 0% 5%;
}


.about_co {

    height:549px;
    width: 83%;
    top: 63%;
    left: 9%;
}


.img_abt {

    height: 348px;
    width: 323px;
    top: 19%;
}


.abt_img1 {

    height: 322px;
    width: 501px;
    top: 41%;
    left: 0%;
}

.abt_content {

    top: 38%;
    
}

.abt_contentp {

    padding: 20px 41px 19px 0px;
}

.abt_contentbtn {

    width: 206px;
   
}

.ContactItemsh2 {
    padding-left: 24%;
}

.formInputbutton {
    padding: 0px 0px 2px 25px;
    margin-top: 5%;
}

.lastMapImg {
    height: 172px;
    width: 256px;
}

}


@media (min-width: 768px) and (max-width: 1023px) {
   

    .nav {
        height: 82px;
    }
    
    .ulclass{
       display: none;
    }
    
    .ulclass li {
        margin: 0;
    }
    
    .ulclass li a{
        
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        width: 50px;
    }
    
    .left {
    
        display: none;
    }
    
    .right {
    
        display: none;
    }
    
    .loader_img {
        height: 98px;
        width: 116px;
        border-bottom-left-radius: 84%;
        border-bottom-right-radius: 84%;
        left: 10%;
    }
    
    .fa {
    
        font-size: 20px;
        color: white;
    }
    
    .home {
         
        background-image: url(./images/banner.png);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        height: 600px;
        width: 100%;
    }
    
    .h1 {
        font-size: 70px;
        padding: 9% 0% 0% 5%;
    }
    
    .firstSpan {

        font-size: 70px;
        padding: 0% 0% 0% 5%;
    }
    
    .About{
    
        height: 100vh;
        width: 100%;
    }
    
    .about_co {
    
        height: 777px;
        top: 65%;
        left: 10%;
        display: block;
       
    }
    
    .abt_more {
        display: block;
        position: absolute;
        top: 3%;
        left: 5%; 
    }
    
    .abt_more_h1 {
    
        color: #353d47;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        padding-top: 0%;
    }
    
    .underlinediv {
    
        height: 10px;
        width: 120px;
        background-color: #ED242E;
        border-radius: 20%;
    }
    
    
    .abt_more_p {
        color: #111111;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        padding-top: 20px;
        width: 84%;
    }
    
    .abt_more_span {
    
        color: #111111;
        font-size: 17px;
    }
    
    .abt_more_btn {
        
        top: 188px;
        left: 0%;
        height: 65px;
        width: 218px;
        
    }
    
    .img_abt {
    
        height: 391px;
        width: 414px;
        position: absolute;
        top: 45%;
        left: 13%;
    }
    
    .About {
        display: flex;
        gap: 18%;
        height: 990px;
        width: 100%;
        position: relative;
    }
    
    .abt_img1 {
    
        height: 251px;
        width: 374px;
        top: 62%;
        left: 0%;
    }
    
    .abt_content {
    
        height: 350px;
        width: 340px;
        color: #666666;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 57%;
        left: 52%;
    }
    
    .abt_contenth1 {
    
       color: #353d47;
       font-size: 45px;
       font-family: 'Poppins', sans-serif;
       font-weight: 900;
       padding: 0px 50px 0px 0px;
    }
    
    .abt_contentp {
    
        padding: 1px 47px 10px 0px;
    }
    
    .abt_contentbtn {
    
        height: 60px;
        width: 275px;
        color: #ffffff;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        background-color: #05254d;
    }
    


} */




/* ..................................MEDIA QUERY OF MOBILE STARTS FORM HERE.....................................  */


.nav {
    height: 10vh;
    width: 100%;
    background-color: #ed1c24;
    position: relative;
}

.ulclass {
    display: none;
}

.left, .right {

    display: none;
}

.loader_bg {

    height: 91px;
    width: 111px;
    background-color: #ed1c24;
    border-bottom-right-radius: 154px;
    border-bottom-left-radius: 154px;
    position: absolute;
    top: 7%;
    left: 5%;
}
.loader_img {

    height: 91px;
    width: 100%;
}
.mobView {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 57%;
    padding: 5%;
}

.name {

    color: aliceblue;
    font-family: 'Poppins', sans-serif;

}

.hamburger {

    height: 28px;
    width: 29px;
    border: 2px solid aliceblue;
}

i {
    color: aliceblue;
    height: 25px;
    width: 25px;
    cursor: pointer; 
  }

.home {

    background-image: url(./images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h1 {

    color: #ffffff;
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    padding: 25% 0% 0%;
}

.firstSpan {

    color: #ffffff;
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    padding: 0% 0% 0%;
    font-weight: 900;
}

.abt_more_btn1, .abt_more_btn2 {

    height: 50px;
    width: 204px;
    color: #000000;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.abt_more_btn1 {
margin: 50px 15px 5px 0px;
}

.firstHead {

    margin: 0px 15px;
}
.about {
    height: auto;
    width: 100%;
}

.about_co {

    height: 833px;
    width: 100%;
    background-color: #ffffff;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 72px 0px 0px 0.5px;
    padding: 75px 0px 0px 17px;
}

.abt_more_h1 {

    text-transform: uppercase;
    color: #353D47;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 18px;
    position: relative;
}

.underlinediv {

    position: absolute;
    top: 103%;
    left: 3%;
    content: "";
    bottom: 0;
    background-color: #ed1c24;
    width: 93px;
    height: 11px;
    border-radius: 20px;
}

.abt_more_p {

    color: #111111;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 35px 0px 50px;
}

.abt_more_btn {

    height: 75px;
    width: 238px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
    margin-left: 5%;
}

.coronafigdiv {

    margin: 50px 0px 0px 0px;
}

.img_abt {

    height: 300px;
    width: 271px;
}

.abt_content {

    height: 670px;
    width: 288px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 100px 0px 0px;
}

.abt_contenth1 {
    padding-left: 19px;
    color: #353D47;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.abt_contentp {

    color: #111111;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 18px 0px 38px 21px;

}

.abt_contentbtn {
    margin-left: 7%;
    height: 58px;
    width: 214px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
}

.abt_img1 {

    padding: 42px 0px 0px 22px;
    height: 243px;
    width: 285px;
}

.Precautions {

    height: auto;
    width: 100%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 43px 10px 0px;
    position: relative;
}

.Precautionsh1 {
    color: #353D47;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 58px 0px 71px;
    line-height: 30px;
}

.divofp {

height: 170px;
width: 233px;

}

.divofpspan {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 50px;
}


.Precautionsp {
    color: #666666;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 9px 0px 0px 40px;
}

.figDiv {

    background-image: url(./images/project.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 585px;
    width: 298px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 77px 0px 25px;
    border-radius: 95px;
}

.figDiv2, .figDiv3 {

    display: none;
}

.figDiv1 {

    height: 447px;
    width: 202px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 45px 20px 30px;
    border-radius: 28px;
    margin: 0px 0px 0px 47px;
    position: relative;
}

.figDiv1img {
    padding: 0px 0px 0px 35px;
}

.figDiv1h2 {
    color: #0d0e0e;
    font-size: 17px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 26px;
}

.figDiv1p {
    color: #081419;
    font-weight: 400;
}

.figDiv1btn {

    height: 51px;
    width: 174px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
    margin: 58px 0px 0px;
    font-weight: 700;
    border: none;
}

.arrowDiv1 {

    width: 90px;
    height: 90px;
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 55px;
    line-height: 30px;
    opacity: 1;
    border-radius: 50px;
    box-shadow: 0 0 80px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 94%;
    left: 19%;
}

.arrowDiv2 {

    width: 90px;
    height: 90px;
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 55px;
    line-height: 30px;
    opacity: 1;
    border-radius: 50px;
    box-shadow: 0 0 80px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 94%;
    left: 48%;
}

.arrowDiv1 i {

    font-size: 27px;
}

.arrowDiv2 i {

    font-size: 27px;

}

.News {
    height: auto;
    width: 100%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 70px 0px 0px;
    margin: 20% 0% 0% 0%;
    position: relative;
}


.coronaVcases {

    padding: 0px 0px 0px 50px;
}
.secNewsH1 {

    color: #353D47;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 0px 65px;
}

.secNewsP {
    height: 128px;
    width: 306px;
    color: #666666;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 34px 0px 42px;
}

.Newssecimgdiv2 {

    height: 516px;
    width: 300px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0px 4px 56px 10px;
    padding: 25px 25px 0px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, .2);
}

.Newssecimgdiv {
    height: auto;
    width: 100%;
}


.figImgNews {

    height: 117px;
    width: 100%;
}

.read_more {

    height: 51px;
    width: 174px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
    margin: 0px 43px;
}

.figImgNewsH3 {

color: #151515;
font-size: 20px;
font-family: 'Poppins', sans-serif;
padding: 15px 78px 0px;

}

.figImgNewsP {

color: #0f100d;
font-size: 15px;
font-family: 'Poppins', sans-serif;
padding: 5px 0px 60px;

}

.coronaLogo1 {

    height: 81px;
    width: 80px;
    position: absolute;
    top: 39%;
    left: 36%;
}

.coronaLogo2 {

    height: 81px;
    width: 80px;
    position: absolute;
    top: 68%;
    left: 37%;
}

.coronaLogo3 {

    height: 81px;
    width: 80px;
    position: absolute;
    top: 98%;
    left: 38%;
}

.Doctors {

    height: auto;
    width: 100%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 70px 0px 0px;
}

.Doctorsh1 {

    color: #353D47;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 50px 0px 50px;
}

.DoctorsMaindiv {
    height: auto;
    width: 100%;
}

.DoctorsMaindiv1, .DoctorsMaindiv2 {

    height: 583px;
    width: 258px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    margin: 84px 31px 30px;
    padding: 0px 30px 60px;
    border-radius: 30px;
}

.doctor1ofDS, .doctor2ofDS {
    border-radius: 50%;
    box-shadow: 3px 0 62px rgba(13, 3, 3, .18);
    margin: -50px 0px 0px 44px;
}


.doctor1ofDSh1 {

    color: #151515;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    padding : 42px 0px 0px 20px;
    text-transform: uppercase;
}

.doctor1ofDSp {
    padding: 20px 0 40px 0;
    color: #0f100d;
    line-height: 28px;
    font-weight: 400;
}

.commaImg {

    padding: 21px 0px 0px 84px;
}

.Getupdateh1 {

    color: #353D47;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 14px 21px 0px 43px;
    margin: 0px 0px 60px 53px;
}

.Getupdate {

    height: auto;
    width: 100%;
    background: url(./images/ever_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
}

.formInputbutton {

    text-transform: uppercase;
    width: 90%;
    height: 87px;
    background: 0 0;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    box-shadow: inherit;
    margin: 0px 0px 0px 18px;
    padding: 0 25px;
    border: #fff solid 1px;
    border-radius: 50px;
}

.btnClas {

    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    line-height: 82px;
    height: 82px;
    width: 90%;
    display: block;
    border: inherit;
    background: #0a264a;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.Contact {

    height: auto;
    width: 100%;
    background-color: #000000;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 80px 0px 0px 15px;
}

.ContactItems {

    height: auto;
    width: 100%;
    margin: 0px 0px 32px 0px;
}

.ContactItemsRcSul li {
    color: #979793;
    font-size: 17px;
    line-height: 18px;
    padding-bottom: 10px;
    display: block;
}

.ContactItems ul {
    list-style: none;
}

.ContactItemsRcSh2 {

    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 23px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.lastMapImg {

    height: auto;
    width: 100%;
}

.lastpdiv {

    height: 84px;
    width: 100%;
    background-color: #000000;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.lastpA {

    color: #d1d1d1;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 16px 0px 0px 104px;
}

.lastp {

    color: #d1d1d1;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 16px 0px 0px 31px;
}


/* ..................................MEDIA QUERY OF TABLET STARTS FORM HERE.....................................  */

@media (min-width: 768px) {

.nav {
    height: 16vh;
    width: 100%;
    background-color: #ed1c24;
    position: relative;
}

.ulclass {
    display: none;
}

.left, .right {

    display: none;
}

.loader_bg {

    height: 109px;
    width: 146px;
    background-color: #ed1c24;
    border-bottom-right-radius: 154px;
    border-bottom-left-radius: 154px;
    position: absolute;
    top: 13%;
    left: 2%;
}
.loader_img {

    height: 91px;
    width: 100%;
}
.mobView {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 94%;
    padding: 5%;
}

.name {

    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name h3 {

    padding: 0px 0px 0px 67px;
}

.hamburger {

    height: 28px;
    width: 29px;
    border: 2px solid aliceblue;
}

i {
    color: aliceblue;
    height: 25px;
    width: 25px;
    cursor: pointer; 
  }

.home {

    background-image: url(./images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h1 {

    color: #ffffff;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    padding: 101px 5px 0px;
}

.firstSpan {
    height: auto;
    width: 100%;
    color: #ffffff;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    padding: 15% 2% 0%;
    font-weight: 900;
}

.twoButton {
    display: flex;
}

.abt_more_btn1, .abt_more_btn2 {

    height: 50px;
    width: 204px;
    color: #000000;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 20px 15px 5px 0px;
}

.coronaVrsDiv {
    
    height: 352px;
    width: 357px;
}
.firstHead {

    margin: 0px 15px;
    position: relative;
    height: 100vh;
    width: 90%;
}

.about_co {
    display: flex;
    height: 540px;
    width: 97%;
    background-color: #ffffff;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 100px;
    margin: 72px 0px 0px 12.5px;
    padding: 100px 0px 0px 17px;
    position: absolute;
    top: 77%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.abt_more_h1 {

    text-transform: uppercase;
    color: #353D47;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 18px;
    position: relative;
}

.underlinediv {

    position: absolute;
    top: 150px;
    left: 25px;
    content: "";
    bottom: 0;
    background-color: #ed1c24;
    width: 93px;
    height: 11px;
    border-radius: 20px;
}

.abt_more_p {

    color: #111111;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 28px 0px 60px 0px;
    width: 394px;
}

.abt_more_btn {

    height: 66px;
    width: 285px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
    margin-left: 1%;
}

.coronafigdiv {

    margin: 14px 0px 0px 0px;
}

.img_abt {

    height: 408px;
    width: 97%;
}

.About {
    height: 790px;
    width: 100%;
}

.abt_content {

    height: 670px;
    width: 100%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 403px 0px 0px;
    display: flex;
}

.abt_contenth1 {
    padding : 0px 173px 0px 19px;
    color: #353D47;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.abt_contentp {

    color: #111111;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 18px 49px 38px 21px;

}

.abt_contentbtn {
    margin-left: 4%;
    height: 58px;
    width: 214px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
}

.abt_img1 {

    
    padding: 42px 0px 0px 0px;
    height: 326px;
    width: 313px;
}

.Precautions {

    height: 900px;
    width: 100%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 45px 7px 0px;
    
}

.Precautionsh1 {
    color: #353D47;
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 58px 0px 120px;
    line-height: 30px;
}

.divofp {

height: 85px;
width: 733px;

}

.divofpspan {
    display: flex;
    justify-content: center;
}

.Precautionsp {
    color: #666666;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 9px 0px 0px 0px;
}

.figDiv {

    display: flex;
    background-image: url(./images/project.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 99%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 77px 0px 25px;
    border-radius: 95px;
    position: relative;
}

.figDiv1 {

    height: 326px;
    width: 234px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 16px 20px 30px;
    border-radius: 28px;
    margin: 0px 0px 0px 10px;
}

.figDiv2, .figDiv3 {
    display: block;
    height: 326px;
    width: 234px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 16px 20px 30px;
    border-radius: 28px;
    margin: 0px 0px 0px 10px;
}

.figDiv1img {
    padding: 33px 0px 0px 47px;
}

.figDiv2img {
    padding: 16px 0px 0px 47px;
}

.figDiv3img {
    padding: 33px 0px 0px 47px;
}


.figDiv1h2 {
    color: #0d0e0e;
    font-size: 17px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 0px;
    padding-left: 40px;
}

.figDiv1h3 {
    color: #0d0e0e;
    font-size: 17px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 0px;
    padding-left: 16px;
}


.figDiv1p {
    color: #081419;
    font-weight: 400;
}
.figDiv1p1 {
    color: #081419;
    font-weight: 400;
    padding-left: 32px;
}

.figDiv1btn {

    height: 51px;
    width: 174px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
    margin: 58px 0px 0px;
    font-weight: 700;
    border: none;
    position: absolute;
    top: 318px;
    left: 35px;
}
.figDiv2btn {

    height: 51px;
    width: 174px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
    margin: 58px 0px 0px;
    font-weight: 700;
    border: none;
    position: absolute;
    top: 395px;
    left: 292px;
}

.coronaVcases {
    padding: 0px 0px 0px 7px;
}
.figDiv3btn {

    height: 51px;
    width: 174px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
    margin: 58px 0px 0px;
    font-weight: 700;
    border: none;
    position: absolute;
    top: 395px;
    left: 530px;
}

.arrowDiv1 {

    width: 90px;
    height: 90px;
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 55px;
    line-height: 30px;
    opacity: 1;
    border-radius: 50px;
    box-shadow: 0 0 80px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 94%;
    left: 38%;
}

.arrowDiv2 {

    width: 90px;
    height: 90px;
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 55px;
    line-height: 30px;
    opacity: 1;
    border-radius: 50px;
    box-shadow: 0 0 80px black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 94%;
    left: 51%;
}

.arrowDiv1 i {

    font-size: 27px;
}

.arrowDiv2 i {

    font-size: 27px;

}

.News {
    height: auto;
    width: 100%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 5px 0px 0px;
    margin: 0% 0% 0% 0%;
}

.secNewsH1 {

    color: #353D47;
    font-size: 43px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 0px 147px;
}

.secNewsP {
    height: 128px;
    width: 96%;
    color: #666666;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 4px 0px 0px 43px;
}

.Newssecimgdiv2 {

    height: 516px;
    width: 413px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0px 4px 36px 179px;
    padding: 25px 25px 0px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, .2);
}

.Newssecimgdiv {
    height: auto;
    width: 100%;
}

.newsSpan {

    display: flex;
    justify-content: center;
}

.figImgNews {

    height: 193px;
    width: 100%;
}

.read_more {

    height: 51px;
    width: 174px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #05254D;
    margin: 0px 95px;
}

.figImgNewsH3 {

color: #151515;
font-size: 20px;
font-family: 'Poppins', sans-serif;
padding: 15px 135px 3px;

}

.figImgNewsP {

color: #0f100d;
font-size: 15px;
font-family: 'Poppins', sans-serif;
padding: 5px 0px 60px;

}

.coronaLogo1 {

    height: 81px;
    width: 80px;
    top: 37%;
    left: 45%;
}

.coronaLogo2 {

    height: 81px;
    width: 80px;
    top: 67%;
    left: 45%;
}

.coronaLogo3 {

    height: 81px;
    width: 80px;
    top: 98%;
    left: 45%;
}

.Doctors {

    height: auto;
    width: 100%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 70px 0px 0px;
}

.Doctorsh1 {

    color: #353D47;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 50px 0px 186px;
}

.DoctorsMaindiv {
    height: auto;
    width: 100%;
}

.DoctorsMaindiv1, .DoctorsMaindiv2 {

    height: 363px;
    width: 705px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    margin: 84px 31px 30px;
    padding: 0px 30px 60px;
    border-radius: 30px;
}

.doctor1ofDS, .doctor2ofDS {
    border-radius: 50%;
    box-shadow: 3px 0 62px rgba(13, 3, 3, .18);
    margin: -50px 0px 0px 262px;
}


.doctor1ofDSh1 {

    color: #151515;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    padding : 42px 0px 0px 247px;
    text-transform: uppercase;
}

.doctor1ofDSp {
    padding: 20px 0 40px 0;
    color: #0f100d;
    line-height: 28px;
    font-weight: 400;
}

.commaImg {

    padding: 0px 0px 0px 308px;
}

.Getupdateh1 {

    color: #353D47;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    padding: 14px 21px 0px 43px;
    margin: 0px 0px 60px 146px;
}

.Getupdate {

    height: auto;
    width: 100%;
    background: url(./images/ever_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
}

.formInputbutton {

    text-transform: uppercase;
    width: 90%;
    height: 87px;
    background: 0 0;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    box-shadow: inherit;
    margin: 0px 0px 0px 18px;
    padding: 0 25px;
    border: #fff solid 1px;
    border-radius: 50px;
}

.btnClas {

    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    line-height: 82px;
    height: 82px;
    width: 90%;
    display: block;
    border: inherit;
    background: #0a264a;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.Contact {

    height: auto;
    width: 100%;
    background-color: #000000;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 80px 0px 0px 62px;
}

.contactitemsmaindiv {
    display: flex;
    flex-wrap: wrap;
}

.ContactItems {

    width: 329px;
    height: 202px;
    margin: 0px 0px 32px 9px;
}

.ContactItemsRcSul li {
    color: #979793;
    font-size: 17px;
    line-height: 18px;
    padding-bottom: 10px;
    display: block;
}

.ContactItems ul {
    list-style: none;
}

.ContactItemsRcSh2 {

    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 23px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.lastMapImg {

    height: auto;
    width: 100%;
}

.lastpdiv {

    height: 84px;
    width: 100%;
    background-color: #000000;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.lastpA {

    color: #d1d1d1;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 16px 0px 0px 335px;
}

.lastp {

    color: #d1d1d1;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 16px 0px 0px 270px;
}

}


@media (min-width: 992px) {

i {
    color: white;
}
    
.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ED242E;
    position: relative;
    height: 100px;
    overflow: hidden;
}

.ulclass{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding-left: 42px;
}

.ulclass li {
    margin: 0;
}

.ulclass li a{
    
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 50px;
}

.left {

    height: 116px;
    width: 100px;
    background-color: #001329;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
}

.right {

    height: 101px;
    width: 100px;
    background-color: #001329;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 0%;
}

.loader_img {
    height: 116px;
    width: 150px;
    background-color: #ED242E;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%); 
}

.fa {

    font-size: 20px;
    color: white;
}

.mobView {
    display: none;
}
.loader_bg {
    height: 1px;
    width: 1px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    position: absolute;
    top: 10%;
    left: 50%;
}
.News {
    height: 708px;
    width: 100%;
}

.Newssecimgdiv{
    display: flex;
    height: 0px;
    width: 0px;
    gap: 9px;
}
.Doctors {
    height: auto;
    width: 26%;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 70px 0px 0px;
}
.Newssecimgdiv2 {
    height: 561px;
    width: 324px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0px 4px 36px 0px;
    padding: 25px 25px 0px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, .2);
}
.secNewsH1 {
    padding: 0px 0px 0px 247px;
}
.read_more {
    margin: 0px 48px;
}
.figImgNewsH3 {
    padding: 15px 87px 3px;
}
.secNewsP {
    height: 108px;
    width: 96%;
    padding: 0px 0px 0px 137px;
}
.coronaLogo1 {
    top: 98%;
    left: 11%;
}
.coronaLogo2 {
    top: 98%;
    left: 46%;
}
.coronaLogo3 {
    top: 98%;
    left: 81%;
}

    .name h3 {
        padding: 0px 0px 0px 43px;
    }

    .h1 {
        color: #ffffff;
        font-size: 89px;
        font-family: 'Poppins', sans-serif;
        padding: 76px 52px 0px;
    }

    .firstSpan {
        height: auto;
        width: 100%;
        color: #ffffff;
        font-size: 90px;
        font-family: 'Poppins', sans-serif;
        padding: 15% 5% 0%;
        font-weight: 900;
    }

    .abt_content {
        height: 670px;
        width: 80%;
    }

    .abt_more_btn1 {
        height: 50px;
        width: 204px;
        color: #000000;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        background-color: #ffffff;
        margin: 43px 5px 0px 69px;
    }

    .abt_more_btn2 {
        height: 50px;
        width: 204px;
        color: #000000;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        background-color: #ffffff;
        margin: 43px 15px 5px 13px;
    }


    .about_co {
        margin: 72px 0px 0px 15.5px;
    }

    .abt_contenth1 {
        padding: 0px 0px 0px 35px;
    }

    .abt_contentp {
        padding: 57px 0px 46px 42px;
        margin: 0px 32px 0px 0px; 
    }

    .abt_img1 {
        padding: 42px 0px 0px 0px;
        height: 326px;
        width: 480px;
    }

    .abt_contentbtn {
        margin-left: 10%;
    }

    .Precautionsh1 {
        padding: 0px 58px 0px 223px;
    }

    .Precautionsp {
        width: 889px;
        display: flex;
        justify-content: center;

    }

    .divofpspan {
        width: 889px;

    }

    .figDiv {
        gap: 53px;
    }
    .figDiv1 {
        margin: 0px 0px 0px 70px;
    }

    .figDiv2btn {
        left: 397px;
    }

    .figDiv3btn {
        left: 695px;
    }

    .arrowDiv1 {
        width: 100px;
        height: 100px;
        left: 40%;
    }
    .arrowDiv2 {
        width: 100px;
        height: 100px;
    }

    .Doctorsh1 {
        width: 663px;
        margin-left: 314px;
        padding: 34px 0px 0px 0px;
    }



    .DoctorsMaindiv1, .DoctorsMaindiv2 {
        height: 363px;
        width: 705px;
        color: #666666;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        background-color: #f1f1f1;
        margin: 84px 151px 30px;
        padding: 0px 30px 60px;
        border-radius: 30px;
    }

    .contactitemsmaindiv {
        display: flex;
        flex-wrap: nowrap;
    }

    .lastp {
        padding: 16px 0px 0px 380px;
    }

    .lastpA {
        padding: 16px 0px 0px 456px;
    }

}

